#app1{
    width: 250px;
    height: 250px;
    background-image: url('../../../img/a05e873eb90f9d8f05ca0007cf19d609.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}