<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="radio" id="" value="r1" v-model="d1">
        <input type="radio" id="" value="r2" v-model="d1">
        <input type="radio" id="" value="r3" v-model="d1">
    </div>
    <script>
        const app=new Vue({
            el:"#app",
            data:{
                d1:''
            }
        })
    </script>
</body>
</html>